.chessProject > h1 {
  text-align: center;
  color: var(--base02);
  font-size: 42px;
  margin: 0;
  margin-bottom: 30px;
}

.chessProject img {
  box-shadow: var(--boxShadow01);
  width: 100%;
}

.chessProject a {
  color: var(--base02);
}
