.about > h1 {
  text-align: center;
  color: var(--base02);
  font-size: 42px;
  margin: 0;
  margin-bottom: 30px;
}

.about a {
  color: var(--base02);
}

.about {
  height: 100%;
}

.about_content {
  font-size: 24px;
  display: grid;
  grid-template-columns: 450px 1fr;
  gap: 20px;
}

.about_content__img > img {
  width: 100%;
  border-radius: 8px;
}

@media screen and (max-width: 1120px) {
  .about_content {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  .about_content {
    font-size: 20px;
  }
}
